.dash-con{
    --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
    padding: 3vw 5vw 0;
    .d-c-m{
        font:normal normal normal 1.25vw/2vw var(--font-Jotia);
    }
    .dash-con-title{
        margin-bottom: 1.042vw;
        font:normal normal normal 1.99vw/2.042vw var(--font-Jotia);
    }
    .dash-gret-con{
        background-color: #fff;
        border-radius: 1.563vw;
        padding: 2.083vw;
        margin-bottom: 2.083vw;
        .dg-head{
            font:normal normal normal 1.99vw/2.042vw var(--font-Jotia);
            margin-bottom: 0.521vw;
        }
        .dg-body{
            font:normal normal normal 1.2vw/1.3vw var(--font-Jotia);
        }
    }
    .dash-con-body{
        display: flex;
        .dash-nav-con{
            background-color: #fff;
            border: 0;
            border-radius: 1.563vw;
            width:20.833vw;
            padding: 2.083vw 0;
            .dash-tab-head{
                border:0;
                border-radius: 0;
                .dash-nav-item{
                    border: 0;
                    border-radius: 0;
                    color: black;
                    padding: 1.042vw;
                    font:normal normal normal 1.25vw/1.3vw var(--font-Jotia);
                    cursor: pointer;
                }
            }
        }
        .nav-tabs .nav-link.active{
            border: 0;
            border-left:0.208vw solid #ccc;
            padding-left: 0.833vw;
        }
        .dash-tab-content{
            width: -webkit-fill-available;
        }
        .dash-tabs{
            margin-left: 2.083vw;
            // width: -webkit-fill-available;
        }

        .prof-con{  
            background-color: #fff;
            padding: 2.083vw;
            border-radius: 1.563vw;
            // width: 30.833vw;
            .prof-con-header{
                display: flex;
                justify-content: space-between;
                .prof-con-title{
                    font:normal normal 300 1.667vw/1.667vw var(--font-Jotia);
                }
                .edud-btn{
                    padding: 0.26vw 1.042vw;
                    border: 0.052vw solid #ccc;
                    font:normal normal normal 0.99vw/1.042vw var(--font-Jotia);
                    background-color: transparent;
                    border-radius: 0.26vw;
                }
            }
            .prof-con-body{
                display: grid;
                grid-template-columns: 50% 50%;
                font:normal normal normal 0.99vw/1.5vw var(--font-Jotia);
                padding: 1.042vw 0 0;
            }
        }
        .bk-con{
            background-color: #fff;
            border-radius: 1.563vw;
            max-height:27vw;
            overflow-y: scroll;
            .bk-con-title{
                padding: 2.083vw 2.083vw 0.521vw;
                font:normal normal 300 1.667vw/1.667vw var(--font-Jotia);
            }
            .bk-con-filters{
                display: grid;
                grid-template-columns: 50% 25% 25%;
                padding: 0.521vw 2.083vw;
                font:normal normal normal 1.042vw/1.042vw var(--font-Jotia);
            }
            .bk-con-body{
                // padding-top: 1.042vw;
                .bk-b-item{
                    display: grid;
                    grid-template-columns:50% 25% 25%;
                    border-bottom: 0.052vw solid #ccc;
                    padding: 2.083vw;
                    &:first-child{
                        border-top: 0.052vw solid #ccc;
                    }
                    &:last-child{
                        border-bottom: 0;
                    }
                    .dd-con{
                        display: flex;
                        align-items: center;
                        font: normal normal normal 1.75vw/1.75vw var(--font-Jotia);
                        margin-right: 2.083vw;
                        .dd-con-d{
                            width: 6.25vw;
                        }
                        .dd-con-f{
                            display: flex;
                            margin: 0 1.042vw;
                        }
                        .dd-con-d-m{
                            font:normal normal normal 1.042vw/1.042vw var(--font-Jotia);
                        }
                        .flight-icon{
                            width: 1.1vw;
                            height: 1.2vw;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
    }
}